html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	box-shadow: none;
	border: none;
}

body {
    background-color: #ffdede;
}

h1 {
    font-size: 60px;
    text-align: center;
    background-color: #8fe1ff;
    padding-top: 2%;
}

#canvas-wrapper {
	display: flex;
	justify-content: center;
}

#canvas {
	width: 50vw;
	height: 60vh;
	border: 2px solid black;
}

#panel {
	display: flex;
	margin-top: 20px;
	justify-content: center;
}

.color {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 5px;
}

#red {
	background-color: red;
}

#orange {
	background-color: orange;
}

#yellow {
	background-color: yellow;
}

#blue {
	background-color: blue;
}

#green {
	background-color: green;
}

#brown {
	background-color: #964B00;
}

#purple {
	background-color: purple;
}

#black {
	background-color: black;
}

#white {
	background-color: white;
}

#panel button div {
	border-radius: 50%;
}

.strokeWidth {
	display: flex;
	width: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
	background-color: brown;
	margin: 5px;
	padding: 0;
}

#small div {
	width: 5px;
	height: 5px;
	background-color: black;
}

#medium div {
	width: 10px;
	height: 10px;
	background-color: black;
}

#large div {
	width: 20px;
	height: 20px;
	background-color: black;
}

#xlarge div {
	width: 40px;
	height: 40px;
	background-color: black;
}

.clicked {
	border: 3px solid black;
}

#chat {
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 15vw;
	height: 70vh;
	top: 18vh;
	right: 1vw;
	padding: 10px;
}

#chatbox {
	overflow: auto;
	height: 50vh;
	border: 2px solid black;
	border-radius: 10px;
}

#form {
	display: flex;
	justify-content: center;
}

#input {
	border-radius: 10px;
	padding: 4px;
	position: fixed;
	width: 15vw;
	font-size: 20px;
	bottom: 22vh;
	border: 2px solid black;
}

.message {
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

.message:nth-of-type(2n + 1) {
	background-color: #e4e4e4;
}

.sender {
	font-weight: bold;
}

#scoreboard {
	position: fixed;
	overflow: auto;
	width: 15vw;
	height: 60vh;
	border: 2px solid black;
	left: 1vw;
	top: 18vh;
}

.player {
	display: flex;
	align-items: center;
	height: 40px;
	font-size: 20px;
	color: white;
	padding-left: 10px;
}

.red-player {
	background-color: red;
}

.green-player {
	background-color: green;
}

.blue-player {
	background-color: blue;
}

.purple-player {
	background-color: purple;
}